social-brain/workflows/06_smart_scheduler.json
{
  "name": "06 | Smart Scheduler",
  "nodes": [
    {
      "id": "f0000001-0006-4000-8000-000000000001",
      "name": "Sticky Note — Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, -200],
      "parameters": {
        "content": "## 06 | Smart Scheduler\nReceives content from the Video Production pipeline. Analyzes your historical engagement data to find optimal posting windows, then books a slot in the Notion Content Calendar.\n\n**Env vars needed:**\n- NOTION_API_KEY\n- NOTION_PERFORMANCE_DB\n- NOTION_CALENDAR_DB",
        "height": 220, "width": 380, "color": 6
      }
    },
    {
      "id": "f0000001-0006-4000-8000-000000000002",
      "name": "Webhook — Schedule Content",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "schedule-content",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "f0000001-0006-4000-8000-000000000003",
      "name": "Fetch Historical Performance",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [220, 0],
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $env.NOTION_PERFORMANCE_DB }}",
        "returnAll": false,
        "limit": 50,
        "options": {
          "filter": {
            "singleFilter": {
              "property": "Platform",
              "select": { "equals": "={{ $json.body.platform || 'TikTok' }}" }
            }
          }
        }
      },
      "credentials": { "notionApi": { "id": "notion-creds", "name": "Notion API" } }
    },
    {
      "id": "f0000001-0006-4000-8000-000000000004",
      "name": "Calculate Optimal Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const posts = $input.all().map(i => i.json);\nconst platform = $('Webhook — Schedule Content').first().json.body?.platform || 'tiktok';\n\n// Analyze posting times vs engagement\nconst hourEngagement = {};\nfor (const p of posts) {\n  try {\n    const postedAt = p.properties?.PostedAt?.date?.start;\n    if (!postedAt) continue;\n    const hour = new Date(postedAt).getUTCHours();\n    const score = p.properties?.PerformanceScore?.number || 0;\n    if (!hourEngagement[hour]) hourEngagement[hour] = { total: 0, count: 0 };\n    hourEngagement[hour].total += score;\n    hourEngagement[hour].count++;\n  } catch(e) {}\n}\n\n// Find best hours\nconst bestHours = Object.entries(hourEngagement)\n  .map(([h, v]) => ({ hour: parseInt(h), avgScore: v.total / v.count }))\n  .sort((a, b) => b.avgScore - a.avgScore)\n  .slice(0, 3)\n  .map(h => h.hour);\n\n// Default best hours per platform if no data\nconst defaults = {\n  tiktok: [7, 19, 21],\n  youtube: [14, 17, 20],\n  instagram: [8, 11, 19]\n};\nconst optimalHours = bestHours.length >= 2 ? bestHours : (defaults[platform.toLowerCase()] || [12, 18, 20]);\n\n// Schedule for next optimal hour\nconst now = new Date();\nlet scheduledTime = new Date(now);\nscheduledTime.setMinutes(0, 0, 0);\n\nfor (let i = 1; i <= 48; i++) {\n  scheduledTime = new Date(now.getTime() + i * 3600000);\n  if (optimalHours.includes(scheduledTime.getUTCHours())) break;\n}\n\nreturn [{\n  json: {\n    contentId: $('Webhook — Schedule Content').first().json.body?.contentId,\n    platform: platform,\n    scheduledTime: scheduledTime.toISOString(),\n    optimalHours,\n    title: $('Webhook — Schedule Content').first().json.body?.title || 'Scheduled Content',\n    videoUrl: $('Webhook — Schedule Content').first().json.body?.videoUrl || ''\n  }\n}];"
      }
    },
    {
      "id": "f0000001-0006-4000-8000-000000000005",
      "name": "Book Slot in Content Calendar",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [660, 0],
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "={{ $env.NOTION_CALENDAR_DB }}",
        "title": "={{ $json.title }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "Platform", "type": "select", "selectValue": "={{ $json.platform }}" },
            { "key": "ScheduledTime", "type": "date", "dateValue": "={{ $json.scheduledTime }}" },
            { "key": "Status", "type": "select", "selectValue": "Scheduled" },
            { "key": "ContentId", "type": "richText", "textContent": "={{ $json.contentId }}" },
            { "key": "VideoUrl", "type": "url", "urlValue": "={{ $json.videoUrl }}" }
          ]
        }
      },
      "credentials": { "notionApi": { "id": "notion-creds", "name": "Notion API" } }
    },
    {
      "id": "f0000001-0006-4000-8000-000000000006",
      "name": "Update Pipeline Status — Scheduled",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [880, 0],
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{ $('Calculate Optimal Time').item.json.contentId }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "Status", "type": "select", "selectValue": "Scheduled" }
          ]
        }
      },
      "credentials": { "notionApi": { "id": "notion-creds", "name": "Notion API" } }
    },
    {
      "id": "f0000001-0006-4000-8000-000000000007",
      "name": "Respond — Scheduled",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1100, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"scheduled\",\n  \"scheduledTime\": \"{{ $('Calculate Optimal Time').item.json.scheduledTime }}\",\n  \"platform\": \"{{ $('Calculate Optimal Time').item.json.platform }}\"\n}"
      }
    }
  ],
  "connections": {
    "Webhook — Schedule Content": { "main": [[{ "node": "Fetch Historical Performance", "type": "main", "index": 0 }]] },
    "Fetch Historical Performance": { "main": [[{ "node": "Calculate Optimal Time", "type": "main", "index": 0 }]] },
    "Calculate Optimal Time": { "main": [[{ "node": "Book Slot in Content Calendar", "type": "main", "index": 0 }]] },
    "Book Slot in Content Calendar": { "main": [[{ "node": "Update Pipeline Status — Scheduled", "type": "main", "index": 0 }]] },
    "Update Pipeline Status — Scheduled": { "main": [[{ "node": "Respond — Scheduled", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "social-brain" }]
}
